[{"date":"28.06.16","distance":"4.63 km","duration":"25:22","speed":"10.95 km/h","pace":"5:28","cal":"354"},{"date":"24.06.16","distance":"4.34 km","duration":"27:58","speed":"9.32 km/h","pace":"6:26","cal":"344"}]